{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <div class="container mt-4 mt-md-5">
        <h1 class="text-center mb-4 mb-md-4">Create an Account</h1>
        <p class="text-center mb-4 mb-md-4">Please sign up using the following form:</p>
        <form method="post" class="shadow p-2 p-md-4 rounded bg-light">
            {% csrf_token %}
            
            <div class="mb-4 text-center">
                <label class="form-label">{{ user_form.username.label }}</label>
                <div class="w-50 mx-auto">
                    {{ user_form.username }}
                    {% if user_form.username.errors %}
                        <div class="text-danger">{{ user_form.username.errors }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="mb-4 text-center">
                <label class="form-label">{{ user_form.first_name.label }}</label>
                <div class="w-50 mx-auto">
                    {{ user_form.first_name }}
                    {% if user_form.first_name.errors %}
                        <div class="text-danger">{{ user_form.first_name.errors }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="mb-4 text-center">
                <label class="form-label">{{ user_form.email.label }}</label>
                <div class="w-50 mx-auto">
                    {{ user_form.email }}
                    {% if user_form.email.errors %}
                        <div class="text-danger">{{ user_form.email.errors }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="mb-4 text-center">
                <label class="form-label">{{ user_form.password.label }}</label>
                <div class="w-50 mx-auto">
                    {{ user_form.password }}
                    {% if user_form.password.errors %}
                        <div class="text-danger">{{ user_form.password.errors }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="mb-4 text-center">
                <label class="form-label">{{ user_form.password2.label }}</label>
                <div class="w-50 mx-auto">
                    {{ user_form.password2 }}
                    {% if user_form.password2.errors %}
                        <div class="text-danger">{{ user_form.password2.errors }}</div>
                    {% endif %}
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-25 mx-auto d-block">Create My Account</button>
        </form>
        <p class="text-center mt-2">Already have an account? <a href="{% url 'login' %}">Log in here</a>.</p>
    </div>
{% endblock %}