{% extends "base.html" %}
{% load static %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <div class="container mt-5">
      <h1 class="text-center">Log-in</h1>
      <p class="text-center">Please, use the following form to log-in:If you don't have an account <a href="{% url "register" %}">register here</
        a>.</p>
      <form method="post" class="w-50 mx-auto">
          {% csrf_token %}
          <div class="mb-3">
              {{ form.username.label_tag }}
              {{ form.username }}
              {% if form.username.errors %}
                  <div class="text-danger">{{ form.username.errors }}</div>
              {% endif %}
          </div>
          <div class="mb-3">
              {{ form.password.label_tag }}
              {{ form.password }}
              {% if form.password.errors %}
                  <div class="text-danger">{{ form.password.errors }}</div>
              {% endif %}
          </div>
          <button type="submit" class="btn btn-primary w-100">Log in</button>
      </form>
      <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
  </div>
{% endblock %}